.right {
    float: right;
}

.expandable,
.addMilestoneForm,
.addTaskForm,
.addTaskNotesForm {
    display: none;
    margin-bottom: 10px;
}

#addProject {
    background-color: #eee;
    padding: 20px;
    clear: both;
}

.inprogress {
    font-weight: bold;
}

.done {
    color: #ccc;
}

.todo {
    color: #666;
    font-weight: bold;
}
