.right {
    float: right;
}

.expandable,
.addMilestoneForm,
.addTaskForm {
    display: none;
    margin-bottom: 10px;
}

#addProject {
    background-color: #eee;
    padding: 20px;
    clear: both;
}
