.right {
    float: right;
}

body {
    background-color: #eee;
}

/* main header */
.main {
    width: 100%;
    overflow: hidden;
}

.expandable,
.addMilestoneForm,
.addTaskForm,
.addTaskNotesForm,
.editStatusForm {
    display: none;
    margin-bottom: 10px;
}

#addProject {
    background-color: #eee;
    padding: 20px;
    clear: both;
}

.addProjectLink {
    margin-right: 10px;
}

.inprogress {
    font-weight: bold;
}

.done {
    color: #333;
}

.todo {
    color: #666;
    font-weight: bold;
}

/* project container */
.project {
    background-color: #ccc;
    margin: 20px;
    padding: 20px;
}

/* milestone container */
.milestone {
    margin: 20px 10px;
}

/* task container */
.task {
    margin: 10px 20px;
}

h1, h2, h3 {
    display: inline-block;
}

.taskNotes {
    margin-left: 20px;
}
